@import "tailwindcss";

@theme inline {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-bg: var(--color-bg);
  --color-fg: var(--color-fg);
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
}
